<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="REST Assured Test Suite">
    <parameter name="env" value="qa"/>
    <test name="User API Tests">
        <classes>
            <class name="com.restassured.tests.UserAPITest"/>
        </classes>
    </test>
</suite> 